@tailwind base;
@tailwind components;
@tailwind utilities;

.cajitaxd {
  background-color: black;
  font-family: "arial";
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
  color: white;
  height: 50vh;
  justify-content: start;
  resize: none;
  outline: none;
}

.cajitaxd::-webkit-scrollbar {
  width: 5px;
  background: white;
}

.cajitaxd::-webkit-scrollbar-track {
  background: black;
}
.cajitaxd::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
  border: 1px solid red;
}
